<nb-layout>
  <nb-layout-column>
    <nb-card>
      <nb-card-body>
        <div class="container">
          <h1 id="title" class="title text-center">Login</h1>
          <ngx-alerts [messages]="alertMessages"></ngx-alerts>
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" aria-labelledby="title">
            <div class="form-control-group mb-3">
              <label class="label" for="email">Email:</label>
              <input nbInput fullWidth name="email" formControlName="email" required id="email" pattern=".+@.+\..+" placeholder="Email address" class="form-control" status="success" autofocus>
              <div *ngIf="loginForm.get('email').invalid && (loginForm.get('email').dirty || loginForm.get('email').touched)">
                <small *ngIf="loginForm.get('email').hasError('required')">
                  <i class="text-danger">Please enter email.</i>
                </small>
                <small *ngIf="loginForm.get('email').hasError('pattern')">
                  <i class="text-danger">Email is not in correct format.</i>
                </small>
              </div>
            </div>

            <div class="form-control-group mb-3">
              <label class="label" for="password">Password:</label>
              <input nbInput formControlName="password" required name="password" fullWidth status="success" id="password" placeholder="Mật khẩu" type="password" class="form-control">
              <div *ngIf="loginForm.get('password').invalid && (loginForm.get('password').dirty || loginForm.get('password').touched)">
                <small *ngIf="loginForm.get('password').hasError('required')">
                  <i class="text-danger">Please enter a password.</i>
                </small>
              </div>
            </div>

            <div class="form-control-group remember accept-group  mb-3">
              <nb-checkbox name="rememberMe" status="success">Remember me?</nb-checkbox>
            </div>
            <div class="d-flex justify-content-center">
              <button nbButton type="submit" class="mb-3" [disabled]="!loginForm.valid" status="success">Login</button>
            </div>
            
          </form>

          <div class="form-control-group accept-group ">
            <a class="forgot-password" routerLink="../request-password">Forgot password?</a>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>