<div class="card">
  <div class="card-header">
    <h5 class="mb-0">Add Category</h5>
  </div>
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" [formGroup]="addForm">
      <div class="form-group mb-3">
        <label for="userName">Name</label>
        <input type="text" class="form-control" id="userName" name="userName" formControlName="name">
        <span class="text-danger"
          *ngIf="addForm.controls.name.invalid && (addForm.controls.name.dirty || addForm.controls.name.touched)">
          <span *ngIf="addForm.controls.name.errors?.required">Vui lòng nhập name</span>
          <span *ngIf="addForm.controls.name.errors?.minlength">Name không quá ngắn (tối thiểu 2 kí tự)</span>
        </span>
      </div>
      <div class="input-group-append ">
        <button type="button" class="btn btn-outline-primary " style="margin-right: 10px;">
          Add
        </button>
        <button type="button" class="btn btn-outline-secondary" (click)="cancel()">
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>