<div class="container">
  <button type="button" class="btn btn-outline-primary mb-3" style="margin-right: 10px;">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M8 1.5a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-1 0v-5a.5.5 0 0 1 .5-.5zM1.5 8a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zM8 14.5a.5.5 0 0 1-.5-.5v-5a.5.5 0 0 1 1 0v5a.5.5 0 0 1-.5.5zM14.5 8a.5.5 0 0 1-.5.5h-5a.5.5 0 0 1 0-1h5a.5.5 0 0 1 .5.5z"/>
    </svg>
    Thêm
  </button>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Address</th>
          <th scope="col">Actions</th> 
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Khiem</td>
          <td>khiem@gmail.com</td>
          <td>Bac Lieu</td>
          <td>
            <button class="btn btn-warning">Sửa</button> 
            <button class="btn btn-danger">Xóa</button> 
          </td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Dang</td>
          <td>dang@gmail.com</td>
          <td>Can Tho</td>
          <td>
            <button class="btn btn-warning">Sửa</button>
            <button class="btn btn-danger">Xóa</button>
          </td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Phi</td>
          <td>phi@gmail.com</td>
          <td>Can Tho</td>
          <td >
            <button class="btn btn-warning">Sửa</button>
            <button class="btn btn-danger">Xóa</button>
          </td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>Ai</td>
          <td>ai@gmail.com</td>
          <td>Can Tho</td>
          <td>
            <button class="btn btn-warning">Sửa</button>
            <button class="btn btn-danger">Xóa</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  