<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Address</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Khiem</td>
        <td>khiem@gmail.com</td>
        <td>Bac Lieu</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Dang</td>
        <td>dang@gmail.com</td>
        <td>Can Tho</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Phi</td>
        <td>phi@gmail.com</td>
        <td>Can Tho</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Ai</td>
        <td>ai@gmail.com</td>
        <td>Can Tho</td>
      </tr>
    </tbody>
  </table>