<div class="card">
  <div class="card-body">
    <div class="row mb-2 col-form-label">
      <nav class="navbar navbar-light bg-light">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Search..." aria-label="" aria-describedby="button-addon2">
          <div class="input-group-append" style="margin-right: 10px;">
            <button class="btn btn-primary" type="button" id="button-addon2">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
              </svg>
            </button>
          </div>
          <div class="input-group-append">
            <button type="button" class="btn btn-outline-primary">
              Add
            </button>
          </div>
        </div>
      </nav>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Code orders</th>
              <th>Client</th>
              <th>Quantity</th>
              <th>Price</th>
              <th>Date</th>
              <th>Payment</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor='let o of orders'>
              <td>{{o.orderID}}</td>
              <td>{{o.client}}</td>
              <td>{{o.quantity}}</td>
              <td>&dollar;{{o.valueOrder}}</td>
              <td>{{o.date}}</td>
              <td>
                <button type="button" class="btn btn-warning btn-sm d-flex align-items-center justify-content-center" style="margin-right: 10px;">
                   {{o.payment}}
                  View
                </button>
              </td>
              <td>{{o.delivery}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>