<div class="card">
  <div class="card-body">
    <div class="row mb-2 col-form-label">
      <nav class="navbar navbar-light bg-light">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Search..." aria-label="Search" aria-describedby="button-addon2"
                 [(ngModel)]="filterValue" (input)="filter()">
          <div class="input-group-append" style="margin-right: 10px;">
            <button class="btn btn-primary" type="button" id="button-addon2">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
              </svg>
            </button>
          </div>
          <div class="input-group-append">
            <button type="button" class="btn btn-outline-primary" (click)="openDialog()">Add</button>
          </div>
        </div>
      </nav>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>ID</th>
              <th>Client</th>
              <th>Quantity</th>
              <th>Price</th>
              <th>Date</th>
              <th>Payment</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let o of orders; trackBy: trackByOrder">
              <td>{{ o.orderID }}</td>
              <td>{{ o.client }}</td>
              <td>{{ o.quantity }}</td>
              <td>&dollar;{{ o.valueOrder }}</td>
              <td>{{ o.date }}</td>
              <td>
                <button type="button" class="btn btn-warning btn-sm d-flex align-items-center justify-content-center" style="margin-right: 10px;">
                  {{ o.payment }}
                  View
                </button>
              </td>
              <td>
                <button type="button" class="btn btn-outline-danger" (click)="openDialogDelete(o)">
                  Delete
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- Delete Dialog -->
<div class="dialog-backdrop d-flex align-items-center justify-content-center" *ngIf="isDeleteDialogOpen"
     style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.5);">
  <div class="dialog p-4 bg-white rounded shadow-lg" style="max-width: 500px; width: 100%;">
    <div class="dialog-header mb-3">
      <h5 class="modal-title">{{ title }}</h5>
    </div>
    <div class="dialog-body">
      <p>{{ confirmationMessage }}</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="button" class="btn btn-primary me-md-2" (click)="handleDelete()">Yes</button>
<button type="button" class="btn btn-secondary" (click)="close()">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Add/Edit Dialog -->
<app-dialog [isOpen]="isDialogOpen" title="Add/Edit Order" (closeModal)="closeDialog()">
  <form [formGroup]="formData" (ngSubmit)="addOrder()">
    <div class="row">
      <div class="col-md-12">
        <div class="mb-6 form-group" [class.has-error]="formData.get('client').invalid && (formData.get('client').dirty || formData.get('client').touched)">
          <label for="client" class="form-label">Client:</label>
          <input type="text" class="form-control" id="client" placeholder="Client" formControlName="client">
          <div class="text-danger" *ngIf="formData.get('client').invalid && (formData.get('client').dirty || formData.get('client').touched)">
            Client cannot be empty.
          </div>
        </div>
        <div class="mb-6 form-group" [class.has-error]="formData.get('quantity').invalid && (formData.get('quantity').dirty || formData.get('quantity').touched)">
          <label for="quantity" class="form-label">Quantity:</label>
          <input type="number" class="form-control" id="quantity" placeholder="Quantity" formControlName="quantity">
          <div class="text-danger" *ngIf="formData.get('quantity').invalid && (formData.get('quantity').dirty || formData.get('quantity').touched)">
            Quantity cannot be empty.
          </div>
        </div>
        <div class="mb-6 form-group" [class.has-error]="formData.get('valueOrder').invalid && (formData.get('valueOrder').dirty || formData.get('valueOrder').touched)">
          <label for="valueOrder" class="form-label">Value Order:</label>
          <input type="number" class="form-control" id="valueOrder" placeholder="Value Order" formControlName="valueOrder">
          <div class="text-danger" *ngIf="formData.get('valueOrder').invalid && (formData.get('valueOrder').dirty || formData.get('valueOrder').touched)">
            Value Order cannot be empty.
          </div>
        </div>
        <div class="mb-6 form-group" [class.has-error]="formData.get('date').invalid && (formData.get('date').dirty || formData.get('date').touched)">
          <label for="date" class="form-label">Date:</label>
          <input type="date" class="form-control" id="date" placeholder="Date" formControlName="date">
          <div class="text-danger" *ngIf="formData.get('date').invalid && (formData.get('date').dirty || formData.get('date').touched)">
            Date cannot be empty.
          </div>
        </div>
        <div class="mb-6 form-group" [class.has-error]="formData.get('payment').invalid && (formData.get('payment').dirty || formData.get('payment').touched)">
          <label for="payment" class="form-label">Payment:</label>
          <input type="text" class="form-control" id="payment" placeholder="Payment" formControlName="payment">
<div class="text-danger" *ngIf="formData.get('payment').invalid && (formData.get('payment').dirty || formData.get('payment').touched)">
            Payment cannot be empty.
          </div>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button type="submit" class="btn btn-primary me-md-2">Save</button>
        </div>
      </div>
    </div>
  </form>
</app-dialog>