<div class="card">
  <div class="card-body">
    <div class="row mb-2 col-form-label">
      <nav class="navbar navbar-light bg-light">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Search..." aria-label="" aria-describedby="button-addon2" [(ngModel)]='filterValue' (input)='filter()'>
          <div class="input-group-append" style="margin-right: 10px;">
            <button class="btn btn-primary" type="button" id="button-addon2">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
              </svg>
            </button>
          </div>
          <div class="input-group-append">
            <button type="button" class="btn btn-outline-primary" (click)="openDialog()">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 1.5a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-1 0v-5a.5.5 0 0 1 .5-.5zM1.5 8a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zM8 14.5a.5.5 0 0 1-.5-.5v-5a.5.5 0 0 1 1 0v5a.5.5 0 0 1-.5.5zM14.5 8a.5.5 0 0 1-.5.5h-5a.5.5 0 0 1 0-1h5a.5.5 0 0 1 .5.5z"/>
              </svg>
              Add
            </button>
          </div>
        </div>
      </nav>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>ID</th>
              <th>Type</th>
              <th>Product</th>
              <th>Images</th>
              <th>Price</th>
              <th>Date</th>
              <th>Quantity</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let p of products; trackBy: trackByProduct">
              <td>{{p.productID}}</td>
              <td>{{p.productType}}</td>
              <td>{{p.productName}}</td>
              <td class="py-1">
                <img src="{{p.productImage}}" alt="image" width="70px">
              </td>
              <td>&dollar;{{p.productPrice}}</td>
              <td>{{p.expiryDate}}</td>
              <td>{{p.quantity}}</td>
              <td>
                <button type="button" class="btn btn-outline-warning" style="margin-right: 10px;" (click)="editProductId(products)">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"/>
                  </svg>
                </button>
                <button type="button" class="btn btn-outline-danger" (click)="openDialogDelete(products)">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                  </svg>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <ngx-paginator 
            [apiUrl]="apiUrl" 
            [currentPage]="currentPage" 
            [lastPage]="lastPage" 
            (dataList)="getPage($event)">
        </ngx-paginator>
      </div>
    </div>
  </div>
</div>

<div class="dialog-backdrop d-flex align-items-center justify-content-center" *ngIf="isDeleteDialogOpen" style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.5);">
  <div class="dialog p-4 bg-white rounded shadow-lg" style="max-width: 500px; width: 100%;">
    <div class="dialog-header mb-3">
      <h5 class="modal-title">
        {{ title }}
      </h5>
    </div>
    <div class="dialog-body">
      <p>
        {{ confirmationMessage }}
      </p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="button" class="btn btn-primary me-md-2" (click)="handleDelete()">Yes</button>
        <button type="button" class="btn btn-secondary" (click)="close()">Close</button>
      </div>
    </div>
  </div>
</div>

<app-dialog [isOpen]="isDialogOpen" title="Thêm" (closeModal)="closeDialog()">
  <form [formGroup]="formData" (ngSubmit)="addProduct()">
    <div class="row">
      <div class="col-md-6">
        <div class="mb-3 form-group" [class.has-error]="formData.get('productName').invalid && (formData.get('productName').dirty || formData.get('productName').touched)">
          <label for="productName" class="form-label">Tên sản phẩm:</label>
          <input type="text" class="form-control" id="productName" placeholder="Tên sản phẩm" formControlName="productName">
          <div class="text-danger" *ngIf="formData.get('productName').invalid && (formData.get('productName').dirty || formData.get('productName').touched)">
            Tên sản phẩm không được để trống.
          </div>
        </div>
        <div class="mb-3 form-group" [class.has-error]="formData.get('productType').invalid && (formData.get('productType').dirty || formData.get('productType').touched)">
          <label for="productType" class="form-label">Loại sản phẩm:</label>
          <input type="text" class="form-control" id="productType" placeholder="Loại sản phẩm" formControlName="productType">
          <!-- <select class="form-select" id="productType" formControlName="productType">
            <option selected>Chọn loại sản phẩm</option>
            <option *ngFor="let p of products" [ngValue]="p">{{p}}</option>
          </select> -->
          <div class="text-danger" *ngIf="formData.get('productType').invalid && (formData.get('productType').dirty || formData.get('productType').touched)">
            Loại sản phẩm không được để trống.
          </div>
        </div>
        <div class="mb-3 form-group" [class.has-error]="formData.get('price').invalid && (formData.get('price').dirty || formData.get('price').touched)">
          <label for="price" class="form-label">Giá sản phẩm:</label>
          <input type="number" class="form-control" id="price" placeholder="Giá sản phẩm" formControlName="price">
          <div class="text-danger" *ngIf="formData.get('price').invalid && (formData.get('price').dirty || formData.get('price').touched)">
            Giá sản phẩm không được để trống.
          </div>
        </div>
      </div>
        <div class="col-md-6">
        
        <div class="mb-3 form-group" [class.has-error]="formData.get('quantity').invalid && (formData.get('quantity').dirty || formData.get('quantity').touched)">
          <label for="quantity" class="form-label">Số lượng:</label>
          <input type="number" class="form-control" id="quantity" placeholder="Số lượng" formControlName="quantity">
          <div class="text-danger" *ngIf="formData.get('quantity').invalid && (formData.get('quantity').dirty || formData.get('quantity').touched)">
            Số lượng không được để trống.
          </div>
        </div>
        <div class="mb-3 form-group" [class.has-error]="formData.get('expiryDate').invalid && (formData.get('expiryDate').dirty || formData.get('expiryDate').touched)">
          <label for="expiryDate" class="form-label">Ngày hết hạn:</label>
          <input type="date" class="form-control" id="expiryDate" placeholder="Ngày hết hạn" formControlName="expiryDate">
          <div class="text-danger" *ngIf="formData.get('expiryDate').invalid && (formData.get('expiryDate').dirty || formData.get('expiryDate').touched)">
            Ngày hết hạn không được để trống.
          </div>
        </div>
        <div class="mb-3 form-group" [class.has-error]="formData.get('imageURL').invalid && (formData.get('imageURL').dirty || formData.get('imageURL').touched)">
          <label for="imageURL" class="form-label">Link ảnh:</label>
          <input type="text" class="form-control" id="imageURL" placeholder="Link ảnh" formControlName="imageURL">
          <div class="text-danger" *ngIf="formData.get('imageURL').invalid && (formData.get('imageURL').dirty || formData.get('imageURL').touched)">
            Link ảnh không được để trống.
          </div>
        </div>
      </div>
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button type="submit" class="btn btn-primary">Add</button>
    </div>
  </form>
</app-dialog>