<div class="card">
  <div class="card-body">
    <div class="row mb-2 col-form-label">
      <nav class="navbar navbar-light bg-light">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Search..." aria-label="" aria-describedby="button-addon2" [(ngModel)]='filterValue' (input)='filter()'>
          <div class="input-group-append" style="margin-right: 10px;">
            <button class="btn btn-primary" type="button" id="button-addon2">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
              </svg>
            </button>
          </div>
          <div class="input-group-append">
            <button type="button" class="btn btn-outline-primary" (click)="openDialog()">
              Add
            </button>
          </div>
        </div>
      </nav>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>ID</th>
              <th>Type</th>
              <th>Product</th>
              <th>Price</th>
              <th>Date</th>
              <th>Quantity</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of products; trackBy: trackByProduct">
              <td>{{product.productID}}</td>
              <td>{{product.productType}}</td>
              <td>{{product.productName}}</td>
              <td>&dollar;{{product.price}}</td>
              <td>{{product.expiryDate}}</td>
              <td>{{product.quantity}}</td>
              <td>
                <button type="button" class="btn btn-outline-primary" style="margin-right: 10px;" (click)="editProduct(product)">
                  Edit
                </button>
                <button type="button" class="btn btn-outline-danger" (click)="openDialogDelete(product)">
                  Delete
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="dialog-backdrop d-flex align-items-center justify-content-center" *ngIf="isDeleteDialogOpen" style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.5);">
  <div class="dialog p-4 bg-white rounded shadow-lg" style="max-width: 500px; width: 100%;">
    <div class="dialog-header mb-3">
      <h5 class="modal-title">
        {{ title }}
      </h5>
    </div>
    <div class="dialog-body">
      <p>
        {{ confirmationMessage }}
      </p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="button" class="btn btn-primary me-md-2" (click)="handleDelete()">Yes</button>
        <button type="button" class="btn btn-secondary" (click)="close()">Close</button>
      </div>
    </div>
  </div>
</div>

<app-dialog [isOpen]="isDialogOpen" title="Add" (closeModal)="closeDiaLog()">
  <form [formGroup]="formData" (ngSubmit)="addProduct()">
    <div class="row">
      <div class="col-md-6">
        <div class="mb-3 form-group" [class.has-error]="formData.get('productName').invalid && (formData.get('productName').dirty || formData.get('productName').touched)">
          <label for="productName" class="form-label">Product Name:</label>
          <input type="text" class="form-control" id="productName" placeholder="Product Name" formControlName="productName">
          <div class="text-danger" *ngIf="formData.get('productName').invalid && (formData.get('productName').dirty || formData.get('productName').touched)">
            Product name is required.
          </div>
        </div>
        <div class="mb-3 form-group" [class.has-error]="formData.get('productType').invalid && (formData.get('productType').dirty || formData.get('productType').touched)">
          <label for="productType" class="form-label">Product Type:</label>
          <input type="number" class="form-control" id="productType" placeholder="Product Type" formControlName="productType">
          <div class="text-danger" *ngIf="formData.get('productType').invalid && (formData.get('productType').dirty || formData.get('productType').touched)">
            Product type is required.
          </div>
        </div>
        <div class="mb-3 form-group" [class.has-error]="formData.get('price').invalid && (formData.get('price').dirty || formData.get('price').touched)">
          <label for="price" class="form-label">Price:</label>
          <input type="number" class="form-control" id="price" placeholder="Price" formControlName="price">
          <div class="text-danger" *ngIf="formData.get('price').invalid && (formData.get('price').dirty || formData.get('price').touched)">
            Price is required and must be a positive number.
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-3 form-group" [class.has-error]="formData.get('quantity').invalid && (formData.get('quantity').dirty || formData.get('quantity').touched)">
          <label for="quantity" class="form-label">Quantity:</label>
          <input type="number" class="form-control" id="quantity" placeholder="Quantity" formControlName="quantity">
          <div class="text-danger" *ngIf="formData.get('quantity').invalid && (formData.get('quantity').dirty || formData.get('quantity').touched)">
            Quantity is required and must be a positive number.
          </div>
        </div>
        <div class="mb-3 form-group" [class.has-error]="formData.get('expiryDate').invalid && (formData.get('expiryDate').dirty || formData.get('expiryDate').touched)">
          <label for="expiryDate" class="form-label">Expiry Date:</label>
          <input type="date" class="form-control" id="expiryDate" placeholder="Expiry Date" formControlName="expiryDate">
          <div class="text-danger" *ngIf="formData.get('expiryDate').invalid && (formData.get('expiryDate').dirty || formData.get('expiryDate').touched)">
            Expiry date is required.
          </div>
        </div>
      </div>
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</app-dialog>
