<div class="main-container">
  <div class="card mb-4 p-4">
    <div class="row align-items-center">
      <div class="col-md-4">
        <img src="assets/images/image.png" alt="Image" class="img-fluid">
      </div>
      <div class="col-md-8">
        <h4 class="font-weight-light mb-2 text-capitalize">GROCERY STORE</h4>
        <h2 class="font-weight-bold text-brown">Fpoly Shop</h2>
        <p>Let's create FPoly Shop - A convenient online shopping platform where everyone can find everything they need and experience the most dedicated customer service.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-3 mb-4">
      <div class="card h-100">
        <div class="card-body d-flex align-items-center">
          <div class="progress-data me-3">
            <svg id="SvgjsSvg1331" width="70" height="102.69999999999999" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" class="apexcharts-svg" xmlns:data="ApexChartsNS" transform="translate(0, 0)" style="background: transparent;">
              <g id="SvgjsG1333" class="apexcharts-inner apexcharts-graphical" transform="translate(-15, 0)">
                <defs id="SvgjsDefs1332">
                  <clipPath id="gridRectMask57e679">
                    <rect id="SvgjsRect1334" width="106" height="102" x="-3" y="-1" rx="0" ry="0" fill="#ffffff" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0"></rect>
                  </clipPath>
                  <clipPath id="gridRectMarkerMask57e679">
                    <rect id="SvgjsRect1335" width="102" height="102" x="-1" y="-1" rx="0" ry="0" fill="#ffffff" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0"></rect>
                  </clipPath>
                  <linearGradient id="SvgjsLinearGradient1341">
                    <stop id="SvgjsStop1342" stop-opacity="1" stop-color="rgba(242,242,242,1)" offset="0"></stop>
                    <stop id="SvgjsStop1343" stop-opacity="1" stop-color="rgba(27,0,255,1)" offset="1"></stop>
                    <stop id="SvgjsStop1344" stop-opacity="1" stop-color="rgba(27,0,255,1)" offset="1"></stop>
                  </linearGradient>
                  <linearGradient id="SvgjsLinearGradient1351">
                    <stop id="SvgjsStop1352" stop-opacity="1" stop-color="rgba(236,240,244,1)" offset="0"></stop>
                    <stop id="SvgjsStop1353" stop-opacity="1" stop-color="rgba(27,0,255,1)" offset="1"></stop>
                    <stop id="SvgjsStop1354" stop-opacity="1" stop-color="rgba(27,0,255,1)" offset="1"></stop>
                  </linearGradient>
                </defs>
                <g id="SvgjsG1337" class="apexcharts-radialbar">
                  <g id="SvgjsG1338">
                    <g id="SvgjsG1339" class="apexcharts-tracks">
                      <g id="SvgjsG1340" class="apexcharts-radialbar-track apexcharts-track" rel="1">
                        <path id="apexcharts-radialbarTrack-0" d="M 50 20.762195121951216 A 29.237804878048784 29.237804878048784 0 1 1 49.99489704041412 20.762195567268446" fill="none" fill-opacity="1" stroke="rgba(242,242,242,0.85)" stroke-opacity="1" stroke-linecap="butt" stroke-width="5.524268292682928" stroke-dasharray="0" class="apexcharts-radialbar-area" data:pathOrig="M 50 20.762195121951216 A 29.237804878048784 29.237804878048784 0 1 1 49.99489704041412 20.762195567268446"></path>
                      </g>
                    </g>
                    <g id="SvgjsG1346">
                      <g id="SvgjsG1350" class="apexcharts-series apexcharts-radial-series" seriesName="seriesx1" rel="1" data:realIndex="0">
                        <path id="SvgjsPath1355" d="M 50 20.762195121951216 A 29.237804878048784 29.237804878048784 0 1 1 22.193195148565476 40.965021414464175" fill="none" fill-opacity="0.85" stroke="url(#SvgjsLinearGradient1351)" stroke-opacity="1" stroke-linecap="butt" stroke-width="5.695121951219512" stroke-dasharray="0" class="apexcharts-radialbar-area apexcharts-radialbar-slice-0" data:angle="288" data:value="80" index="0" j="0" data:pathOrig="M 50 20.762195121951216 A 29.237804878048784 29.237804878048784 0 1 1 22.193195148565476 40.965021414464175"></path>
                      </g>
                      <circle id="SvgjsCircle1347" r="21.47567073170732" cx="50" cy="50" class="apexcharts-radialbar-hollow" fill="transparent"></circle>
                      <g id="SvgjsG1348" class="apexcharts-datalabels-group" transform="translate(0, 0) scale(1)" style="opacity: 1;"><text id="SvgjsText1349" font-family="Helvetica, Arial, sans-serif" x="50" y="55" text-anchor="middle" dominant-baseline="auto" font-size="15px" font-weight="400" fill="#333333" class="apexcharts-text apexcharts-datalabel-value" style="font-family: Helvetica, Arial, sans-serif;">80%</text></g>
                    </g>
                  </g>
                </g>
                <line id="SvgjsLine1356" x1="0" y1="0" x2="100" y2="0" stroke="#b6b6b6" stroke-dasharray="0" stroke-width="1" class="apexcharts-ycrosshairs"></line>
                <line id="SvgjsLine1357" x1="0" y1="0" x2="100" y2="0" stroke-dasharray="0" stroke-width="0" class="apexcharts-ycrosshairs-hidden"></line>
              </g>
            </svg>
          </div>
          <div>
            <h4 class="mb-0">2020</h4>
            <small>Contact</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 mb-4">
      <div class="card h-100">
        <div class="card-body d-flex align-items-center">
          <div class="progress-data me-3">
            <svg id="SvgjsSvg1358" width="70" height="102.69999999999999" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" class="apexcharts-svg" xmlns:data="ApexChartsNS" transform="translate(0, 0)" style="background: transparent;">
              <g id="SvgjsG1360" class="apexcharts-inner apexcharts-graphical" transform="translate(-15, 0)">
                <defs id="SvgjsDefs1359">
                  <clipPath id="gridRectMask57e687">
                    <rect id="SvgjsRect1361" width="106" height="102" x="-3" y="-1" rx="0" ry="0" fill="#ffffff" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0"></rect>
                  </clipPath>
                  <clipPath id="gridRectMarkerMask57e687">
                    <rect id="SvgjsRect1362" width="102" height="102" x="-1" y="-1" rx="0" ry="0" fill="#ffffff" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0"></rect>
                  </clipPath>
                  <linearGradient id="SvgjsLinearGradient1368">
                    <stop id="SvgjsStop1369" stop-opacity="1" stop-color="rgba(242,242,242,1)" offset="0"></stop>
                    <stop id="SvgjsStop1370" stop-opacity="1" stop-color="rgba(0,150,136,1)" offset="1"></stop>
                    <stop id="SvgjsStop1371" stop-opacity="1" stop-color="rgba(0,150,136,1)" offset="1"></stop>
                  </linearGradient>
                  <linearGradient id="SvgjsLinearGradient1378">
                    <stop id="SvgjsStop1379" stop-opacity="1" stop-color="rgba(236,240,244,1)" offset="0"></stop>
                    <stop id="SvgjsStop1380" stop-opacity="1" stop-color="rgba(0,150,136,1)" offset="1"></stop>
                    <stop id="SvgjsStop1381" stop-opacity="1" stop-color="rgba(0,150,136,1)" offset="1"></stop>
                  </linearGradient>
                </defs>
                <g id="SvgjsG1364" class="apexcharts-radialbar">
                  <g id="SvgjsG1365">
                    <g id="SvgjsG1366" class="apexcharts-tracks">
                      <g id="SvgjsG1367" class="apexcharts-radialbar-track apexcharts-track" rel="1">
                        <path id="apexcharts-radialbarTrack-0" d="M 50 20.762195121951216 A 29.237804878048784 29.237804878048784 0 1 1 49.99489704041412 20.762195567268446" fill="none" fill-opacity="1" stroke="rgba(242,242,242,0.85)" stroke-opacity="1" stroke-linecap="butt" stroke-width="5.524268292682928" stroke-dasharray="0" class="apexcharts-radialbar-area" data:pathOrig="M 50 20.762195121951216 A 29.237804878048784 29.237804878048784 0 1 1 49.99489704041412 20.762195567268446"></path>
                      </g>
                    </g>
                    <g id="SvgjsG1373">
                      <g id="SvgjsG1377" class="apexcharts-series apexcharts-radial-series" seriesName="seriesx1" rel="1" data:realIndex="0">
                        <path id="SvgjsPath1382" d="M 50 20.762195121951216 A 29.237804878048784 29.237804878048784 0 1 1 22.193195148565476 59.03497858553581" fill="none" fill-opacity="0.85" stroke="url(#SvgjsLinearGradient1378)" stroke-opacity="1" stroke-linecap="butt" stroke-width="5.695121951219512" stroke-dasharray="0" class="apexcharts-radialbar-area apexcharts-radialbar-slice-0" data:angle="252" data:value="70" index="0" j="0" data:pathOrig="M 50 20.762195121951216 A 29.237804878048784 29.237804878048784 0 1 1 22.193195148565476 59.03497858553581"></path>
                      </g>
                      <circle id="SvgjsCircle1374" r="21.47567073170732" cx="50" cy="50" class="apexcharts-radialbar-hollow" fill="transparent"></circle>
                      <g id="SvgjsG1375" class="apexcharts-datalabels-group" transform="translate(0, 0) scale(1)" style="opacity: 1;"><text id="SvgjsText1376" font-family="Helvetica, Arial, sans-serif" x="50" y="55" text-anchor="middle" dominant-baseline="auto" font-size="15px" font-weight="400" fill="#333333" class="apexcharts-text apexcharts-datalabel-value" style="font-family: Helvetica, Arial, sans-serif;">70%</text></g>
                    </g>
                  </g>
                </g>
                <line id="SvgjsLine1383" x1="0" y1="0" x2="100" y2="0" stroke="#b6b6b6" stroke-dasharray="0" stroke-width="1" class="apexcharts-ycrosshairs"></line>
                <line id="SvgjsLine1384" x1="0" y1="0" x2="100" y2="0" stroke-dasharray="0" stroke-width="0" class="apexcharts-ycrosshairs-hidden"></line>
              </g>
            </svg>
          </div>
          <div>
            <h4 class="mb-0">400</h4>
            <small>Deals</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 mb-4">
      <div class="card h-100">
        <div class="card-body d-flex align-items-center">
          <div class="progress-data me-3">
            <svg id="SvgjsSvg1385" width="70" height="102.69999999999999" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" class="apexcharts-svg" xmlns:data="ApexChartsNS" transform="translate(0, 0)" style="background: transparent;">
              <g id="SvgjsG1387" class="apexcharts-inner apexcharts-graphical" transform="translate(-15, 0)">
                <defs id="SvgjsDefs1386">
                  <clipPath id="gridRectMask57e68b">
                    <rect id="SvgjsRect1388" width="106" height="102" x="-3" y="-1" rx="0" ry="0" fill="#ffffff" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0"></rect>
                  </clipPath>
                  <clipPath id="gridRectMarkerMask57e68b">
                    <rect id="SvgjsRect1389" width="102" height="102" x="-1" y="-1" rx="0" ry="0" fill="#ffffff" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0"></rect>
                  </clipPath>
                  <linearGradient id="SvgjsLinearGradient1395">
                    <stop id="SvgjsStop1396" stop-opacity="1" stop-color="rgba(242,242,242,1)" offset="0"></stop>
                    <stop id="SvgjsStop1397" stop-opacity="1" stop-color="rgba(245,103,103,1)" offset="1"></stop>
                    <stop id="SvgjsStop1398" stop-opacity="1" stop-color="rgba(245,103,103,1)" offset="1"></stop>
                  </linearGradient>
                  <linearGradient id="SvgjsLinearGradient1405">
                    <stop id="SvgjsStop1406" stop-opacity="1" stop-color="rgba(236,240,244,1)" offset="0"></stop>
                    <stop id="SvgjsStop1407" stop-opacity="1" stop-color="rgba(245,103,103,1)" offset="1"></stop>
                    <stop id="SvgjsStop1408" stop-opacity="1" stop-color="rgba(245,103,103,1)" offset="1"></stop>
                  </linearGradient>
                </defs>
                <g id="SvgjsG1391" class="apexcharts-radialbar">
                  <g id="SvgjsG1392">
                    <g id="SvgjsG1393" class="apexcharts-tracks">
                      <g id="SvgjsG1394" class="apexcharts-radialbar-track apexcharts-track" rel="1">
                        <path id="apexcharts-radialbarTrack-0" d="M 50 20.762195121951216 A 29.237804878048784 29.237804878048784 0 1 1 49.99489704041412 20.762195567268446" fill="none" fill-opacity="1" stroke="rgba(242,242,242,0.85)" stroke-opacity="1" stroke-linecap="butt" stroke-width="5.524268292682928" stroke-dasharray="0" class="apexcharts-radialbar-area" data:pathOrig="M 50 20.762195121951216 A 29.237804878048784 29.237804878048784 0 1 1 49.99489704041412 20.762195567268446"></path>
                      </g>
                    </g>
                    <g id="SvgjsG1400">
                      <g id="SvgjsG1404" class="apexcharts-series apexcharts-radial-series" seriesName="seriesx1" rel="1" data:realIndex="0">
                        <path id="SvgjsPath1409" d="M 50 20.762195121951216 A 29.237804878048784 29.237804878048784 0 1 1 20.762195121951216 50.00000000000001" fill="none" fill-opacity="0.85" stroke="url(#SvgjsLinearGradient1405)" stroke-opacity="1" stroke-linecap="butt" stroke-width="5.695121951219512" stroke-dasharray="0" class="apexcharts-radialbar-area apexcharts-radialbar-slice-0" data:angle="270" data:value="75" index="0" j="0" data:pathOrig="M 50 20.762195121951216 A 29.237804878048784 29.237804878048784 0 1 1 20.762195121951216 50.00000000000001"></path>
                      </g>
                      <circle id="SvgjsCircle1401" r="21.47567073170732" cx="50" cy="50" class="apexcharts-radialbar-hollow" fill="transparent"></circle>
                      <g id="SvgjsG1402" class="apexcharts-datalabels-group" transform="translate(0, 0) scale(1)" style="opacity: 1;"><text id="SvgjsText1403" font-family="Helvetica, Arial, sans-serif" x="50" y="55" text-anchor="middle" dominant-baseline="auto" font-size="15px" font-weight="400" fill="#333333" class="apexcharts-text apexcharts-datalabel-value" style="font-family: Helvetica, Arial, sans-serif;">75%</text></g>
                    </g>
                  </g>
                </g>
                <line id="SvgjsLine1410" x1="0" y1="0" x2="100" y2="0" stroke="#b6b6b6" stroke-dasharray="0" stroke-width="1" class="apexcharts-ycrosshairs"></line>
                <line id="SvgjsLine1411" x1="0" y1="0" x2="100" y2="0" stroke-dasharray="0" stroke-width="0" class="apexcharts-ycrosshairs-hidden"></line>
              </g>
            </svg>
          </div>
          <div>
            <h4 class="mb-0">350</h4>
            <small>Campaign</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 mb-4">
      <div class="card h-100">
        <div class="card-body d-flex align-items-center">
          <div class="progress-data me-3">
            <div id="apexcharts57e692" class="apexcharts-canvas apexcharts57e692 apexcharts-theme-light" style="width: 70px; height: 102.7px;"><svg id="SvgjsSvg1412" width="70" height="102.69999999999999" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" class="apexcharts-svg" xmlns:data="ApexChartsNS" transform="translate(0, 0)" style="background: transparent;">
                <g id="SvgjsG1414" class="apexcharts-inner apexcharts-graphical" transform="translate(-15, 0)">
                  <defs id="SvgjsDefs1413">
                    <clipPath id="gridRectMask57e692">
                      <rect id="SvgjsRect1415" width="106" height="102" x="-3" y="-1" rx="0" ry="0" fill="#ffffff" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0"></rect>
                    </clipPath>
                    <clipPath id="gridRectMarkerMask57e692">
                      <rect id="SvgjsRect1416" width="102" height="102" x="-1" y="-1" rx="0" ry="0" fill="#ffffff" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0"></rect>
                    </clipPath>
                    <linearGradient id="SvgjsLinearGradient1422">
                      <stop id="SvgjsStop1423" stop-opacity="1" stop-color="rgba(242,242,242,1)" offset="0"></stop>
                      <stop id="SvgjsStop1424" stop-opacity="1" stop-color="rgba(41,121,255,1)" offset="1"></stop>
                      <stop id="SvgjsStop1425" stop-opacity="1" stop-color="rgba(41,121,255,1)" offset="1"></stop>
                    </linearGradient>
                    <linearGradient id="SvgjsLinearGradient1432">
                      <stop id="SvgjsStop1433" stop-opacity="1" stop-color="rgba(236,240,244,1)" offset="0"></stop>
                      <stop id="SvgjsStop1434" stop-opacity="1" stop-color="rgba(41,121,255,1)" offset="1"></stop>
                      <stop id="SvgjsStop1435" stop-opacity="1" stop-color="rgba(41,121,255,1)" offset="1"></stop>
                    </linearGradient>
                  </defs>
                  <g id="SvgjsG1418" class="apexcharts-radialbar">
                    <g id="SvgjsG1419">
                      <g id="SvgjsG1420" class="apexcharts-tracks">
                        <g id="SvgjsG1421" class="apexcharts-radialbar-track apexcharts-track" rel="1">
                          <path id="apexcharts-radialbarTrack-0" d="M 50 20.762195121951216 A 29.237804878048784 29.237804878048784 0 1 1 49.99489704041412 20.762195567268446" fill="none" fill-opacity="1" stroke="rgba(242,242,242,0.85)" stroke-opacity="1" stroke-linecap="butt" stroke-width="5.524268292682928" stroke-dasharray="0" class="apexcharts-radialbar-area" data:pathOrig="M 50 20.762195121951216 A 29.237804878048784 29.237804878048784 0 1 1 49.99489704041412 20.762195567268446"></path>
                        </g>
                      </g>
                      <g id="SvgjsG1427">
                        <g id="SvgjsG1431" class="apexcharts-series apexcharts-radial-series" seriesName="seriesx1" rel="1" data:realIndex="0">
                          <path id="SvgjsPath1436" d="M 50 20.762195121951216 A 29.237804878048784 29.237804878048784 0 1 1 26.346118975439794 32.814449483278" fill="none" fill-opacity="0.85" stroke="url(#SvgjsLinearGradient1432)" stroke-opacity="1" stroke-linecap="butt" stroke-width="5.695121951219512" stroke-dasharray="0" class="apexcharts-radialbar-area apexcharts-radialbar-slice-0" data:angle="306" data:value="85" index="0" j="0" data:pathOrig="M 50 20.762195121951216 A 29.237804878048784 29.237804878048784 0 1 1 26.346118975439794 32.814449483278"></path>
                        </g>
                        <circle id="SvgjsCircle1428" r="21.47567073170732" cx="50" cy="50" class="apexcharts-radialbar-hollow" fill="transparent"></circle>
                        <g id="SvgjsG1429" class="apexcharts-datalabels-group" transform="translate(0, 0) scale(1)" style="opacity: 1;"><text id="SvgjsText1430" font-family="Helvetica, Arial, sans-serif" x="50" y="55" text-anchor="middle" dominant-baseline="auto" font-size="15px" font-weight="400" fill="#333333" class="apexcharts-text apexcharts-datalabel-value" style="font-family: Helvetica, Arial, sans-serif;">85%</text></g>
                      </g>
                    </g>
                  </g>
                  <line id="SvgjsLine1437" x1="0" y1="0" x2="100" y2="0" stroke="#b6b6b6" stroke-dasharray="0" stroke-width="1" class="apexcharts-ycrosshairs"></line>
                  <line id="SvgjsLine1438" x1="0" y1="0" x2="100" y2="0" stroke-dasharray="0" stroke-width="0" class="apexcharts-ycrosshairs-hidden"></line>
                </g>
              </svg>
              <div class="apexcharts-legend"></div>
            </div>
          </div>
          <div>
            <h4 class="mb-0">$6060</h4>
            <small>Worth</small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-4">
    <div class="card-body">
      <h4 class="card-title">Best Selling Products</h4>
      <nav class="navbar navbar-light bg-light">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Search..." aria-label="" aria-describedby="button-addon2" [(ngModel)]='filterValue' (input)='filter()'>
          <div class="input-group-append" style="margin-right: 10px;">
            <button class="btn btn-primary" type="button" id="button-addon2">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
              </svg>
            </button>
          </div>
        </div>
      </nav>
      <div class="table-responsive">
        <table class="table table-nowrap">
          <thead>
            <tr>
              <th>ID</th>
              <th>Image</th>
              <th>Name</th>
              <th>Price</th>
              <th>Quantity</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor='let p of products ; trackBy : trackByProduct'>
              <td>{{p.productID}}</td>
              <td class="py-1">
                <img src="{{p.productImage}}" alt="image" width="70px">
              </td>
              <td>
                <h5 class="font-weight-normal mb-0">{{p.productName}}</h5><small>{{p.productType}}</small>
              </td>
              <td>&dollar;{{p.productPrice}}</td>
              <td>{{p.quantity}}</td>
            </tr>
          </tbody>
        </table>
        <ngx-paginator 
            [apiUrl]="apiUrl" 
            [currentPage]="currentPage" 
            [lastPage]="lastPage" 
            (dataList)="getPage($event)">
        </ngx-paginator>
      </div>
    </div>
  </div>
</div>
