<div class="card">
    <div class="card-header">
      <h5 class="mb-0">Edit User</h5>
    </div>
    <div class="card-body">
      <form (ngSubmit)="onSubmit()" [formGroup]="editForm">
        <div class="form-group mb-3">
          <label for="userName">Name</label>
          <input type="text" class="form-control" id="userName" name="userName" formControlName="name">
          <span class="text-danger"
            *ngIf="editForm.controls.name.invalid && (editForm.controls.name.dirty || editForm.controls.name.touched)">
            <span *ngIf="editForm.controls.name.errors?.required">Vui lòng nhập name</span>
            <span *ngIf="editForm.controls.name.errors?.minlength">Name không quá ngắn (tối thiểu 2 kí tự)</span>
            <span *ngIf="editForm.controls.name.errors?.maxlength">Name không quá dài (tối đa 20 kí tự)</span>
          </span>
        </div>
        <div class="form-group mb-3">
          <label for="email">Email</label>
          <input type="text" class="form-control" id="userName" name="userName" formControlName="email">
          <span class="text-danger"
            *ngIf="editForm.controls.email.invalid && (editForm.controls.email.dirty || editForm.controls.email.touched)">
            <span *ngIf="editForm.controls.email.errors?.required">Vui lòng nhập email</span>
            <span *ngIf="editForm.controls.email.errors?.email">Email không hợp lệ</span>
          </span>
        </div>
        <div class="form-group mb-3">
          <label for="address">Address</label>
          <input type="text" class="form-control" id="userName" name="userName" formControlName="address">
          <span class="text-danger"
            *ngIf="editForm.controls.address.invalid && (editForm.controls.address.dirty || editForm.controls.address.touched)">
            <span *ngIf="editForm.controls.address.errors?.required">Vui lòng nhập address</span>
            <span *ngIf="editForm.controls.address.errors?.minlength">Address không quá ngắn (tối thiểu 5 kí tự)</span>
          </span>
        </div>
        <div class="input-group-append ">
          <button type="button" class="btn btn-outline-primary "  style="margin-right: 10px;">
            Add
          </button>
          <button type="button" class="btn btn-outline-secondary" (click)="cancel()">
            Cancel  
          </button>
        </div>      
      </form>
    </div>
  </div>
  