<div class="card">
  <div class="card-body">
    <div class="row mb-2 col-form-label">
      <nav class="navbar navbar-light bg-light">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="searchTerm" (input)="filterData()">
          <div class="input-group-append">
            <button class="btn btn-primary" type="button" id="button-addon2">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
              </svg>
            </button>
          </div>
        </div>
      </nav>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Category code</th>
              <th>Category name</th>
              <th>Quantity</th>
              <th>Highest price</th>
              <th>Lowest price</th>
              <th>Average price</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of filteredStatisticsData; let i=index">
              <td>{{ i + 1 }}</td>
              <td>{{ item.categoryName }}</td>
              <td>{{ item.quantity }}</td>
              <td>{{ item.highestPrice }}</td>
              <td>{{ item.lowestPrice }}</td>
              <td>{{ item.averagePrice }}</td>
              <td>
                <button [routerLink]="['/pages/statistics-detail', item.categoryCode]" class="btn btn-outline-success" style="margin-right: 10px;">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                    <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM8 13a5 5 0 1 1 0-10 5 5 0 0 1 0 10z"/>
                    <path d="M8 11a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                  </svg>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
