<div class="card">
  <div class="card-body">
    <div class="row mb-2 col-form-label">
      <nav class="navbar navbar-light bg-light">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Search..." aria-label="" aria-describedby="button-addon2" [(ngModel)]='filterValue' (input)='filter()'>
          <div class="input-group-append" style="margin-right: 10px;">
            <button class="btn btn-primary" type="button" id="button-addon2">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
              </svg>
            </button>
          </div>
          <div class="input-group-append">
            <button type="button" class="btn btn-outline-primary" (click)="openDialog()">
              Add
            </button>
          </div>
        </div>
      </nav>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>ID</th>
              <th>Username</th>
              <th>Email</th>
              <th>Product name</th>
              <th>ImageUrl & Video</th>
              <th>Comment content</th>
              <th>Time</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let comment of comments; trackBy: trackByComment">
              <td>{{comment.commentsId}}</td>
              <td>{{comment.userName}}</td>
              <td>{{comment.commentsEmail}}</td>
              <td>{{comment.productName}}</td>
              <td class="py-1">
                <img [src]="comment.imageUrl" alt="{{comment.productName}}" width="80px" />
              </td>
              <td>{{comment.commentsContent}}</td>
              <td>{{comment.createdAt}}</td>
              <td>
                <button type="button" class="btn btn-outline-danger" (click)="openDialogDelete(comment)">
                  Delete
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Xóa mềm -->
<div class="dialog-backdrop d-flex align-items-center justify-content-center" *ngIf="isDeleteDialogOpen" style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.5);">
  <div class="dialog p-4 bg-white rounded shadow-lg" style="max-width: 500px; width: 100%;">
      <div class="dialog-header mb-3">
          <h5 class="modal-title">{{ title }}</h5>
      </div>
      <div class="dialog-body">
        <p>{{ confirmationMessage }}</p>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <button type="button" class="btn btn-primary me-md-2" (click)="handleDelete()">Yes</button>
              <button type="button" class="btn btn-secondary" (click)="close()">Close</button>
          </div>
      </div>
  </div>
</div>

<!-- Thêm -->
<app-dialog [isOpen]="isDialogOpen" title="Thêm" (closeModal)="closeDialog()">
  <form [formGroup]="formData" (ngSubmit)="addComment()">
    <div class="row">
    <div class="col-md-6">
    <div class="mb-3 form-group" [class.has-error]="formData.get('userName').invalid && (formData.get('userName').dirty || formData.get('userName').touched)">
      <label for="userName" class="form-label">Tên:</label>
      <input type="text" class="form-control" id="userName" placeholder="Nhập tên" formControlName="userName" />
      <div class="text-danger" *ngIf="formData.get('userName').invalid && (formData.get('userName').dirty || formData.get('userName').touched)">
        Tên không được để trống.
      </div>
    </div>
    <div class="mb-3 form-group" [class.has-error]="formData.get('commentsEmail').invalid && (formData.get('commentsEmail').dirty || formData.get('commentsEmail').touched)">
      <label for="commentsEmail" class="form-label">Email:</label>
      <input type="text" class="form-control" id="commentsEmail" placeholder="Email" formControlName="commentsEmail" />
      <div class="text-danger" *ngIf="formData.get('commentsEmail').invalid && (formData.get('commentsEmail').dirty || formData.get('commentsEmail').touched)">
        <div *ngIf="formData.get('commentsEmail').errors?.required">
          Email không được để trống.
        </div>
        <div *ngIf="formData.get('commentsEmail').errors?.email">
          Email không hợp lệ.
        </div>
      </div>
    </div>    
    <div class="mb-3 form-group" [class.has-error]="formData.get('imageUrl').invalid && (formData.get('imageUrl').dirty || formData.get('imageUrl').touched)">
      <label for="imageUrl" class="form-label">Hình Ảnh:</label>
      <input type="text" class="form-control" id="imageUrl" placeholder="Nhập đường dẫn ảnh" formControlName="imageUrl" />
      <div class="text-danger" *ngIf="formData.get('imageUrl').invalid && (formData.get('imageUrl').dirty || formData.get('imageUrl').touched)">
        <div *ngIf="formData.get('imageUrl').errors?.required">
          Đường dẫn ảnh không được để trống.
        </div>
      </div>
    </div>    
  </div>
  <div class="col-md-6">
    <div class="mb-3 form-group" [class.has-error]="formData.get('productName').invalid && (formData.get('productName').dirty || formData.get('productName').touched)">
      <label for="productName" class="form-label">Tên sản phẩm:</label>
      <textarea class="form-control" id="productName" rows="3" placeholder="Tên sản phẩm" formControlName="productName"></textarea>
      <div class="text-danger" *ngIf="formData.get('productName').invalid && (formData.get('productName').dirty || formData.get('productName').touched)">
        Tên sản phẩm không được để trống.
      </div>
    </div>
    
    <div class="mb-3 form-group" [class.has-error]="formData.get('commentsContent').invalid && (formData.get('commentsContent').dirty || formData.get('commentsContent').touched)">
      <label for="commentsContent" class="form-label">Bình luận:</label>
      <textarea class="form-control" id="commentsContent" rows="3" placeholder="Bình luận" formControlName="commentsContent"></textarea>
      <div class="text-danger" *ngIf="formData.get('commentsContent').invalid && (formData.get('commentsContent').dirty || formData.get('commentsContent').touched)">
        Nội dung bình luận không được để trống.
      </div>
    </div>
    
  </div>
</div>
<button type="submit" class="btn btn-primary w-100">Lưu</button>
  </form>
</app-dialog>
